<div class="card mt-5">
  <div class="card-body">

      {{user}}
    <h3 class="card-titlw text-center"> ¡Gracias por registrarte en Estructuras AB!</h3>
    <div class="form-group">
      <p class="text-center">
        Se ha enviado un email de confirmación a <strong>EMAIL</strong>.
      </p>
      <p class="text-center">
        Por favor revisa tu email y clickea el link para verificar tu email.
      </p>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary"> Reenviar email de verificación </button>
      <button class="btn btn-primary" (click)="capturarUsuario()"> user </button>
    </div>
  </div>
</div>
